


/*   ---==== main system page ====---   */

.app-group-widget
  width: calc(100% - (100% - 240px) / (5 / 2))
  position: relative
  padding: 8px 2px 4px 2px
  margin: 20px calc((100% - 240px) / (5))

  @media all and (min-width: 520px)
    margin: 20px calc((100% - 300px) / (6))

  @media all and (min-width: 1080px)
    margin: 20px calc((100% - 360px) / (7))

  &__title
    font-size: 24px
    font-weight: 300
    color: white

  &__main
    font-size: 14px
    color: #d2d2d2
    margin-top: 10px

    a
      color: #71b3e0

.apps-wrap
  padding-bottom: 16px


.main-system-page
  height: 100vh
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.3)
  overflow: hidden
  float: right
  position: relative

  &__pc-mode
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.6)

.groups-wrap
  display: grid
  grid-template-columns: 100% 100% 100%
  height: calc(100vh - 45px)
  padding: 0
  margin: 0
  grid-gap: 0
  z-index: 1
  position: relative
  left: 0

.app-group
  width: 100%
  height: 100%
  overflow-x: hidden
  overflow-y: scroll
  padding: 0
  margin: 0

  &__icons
    width: 100%
    margin-left: calc((100% - 240px) / (5 * 2))

    @media all and (min-width: 520px)
      margin-left: calc((100% - 300px) / (6 * 2))

    @media all and (min-width: 1080px)
      margin-left: calc((100% - 360px) / (7 * 2))



.page-number
  height: 10px
  width: 100%
  position: absolute
  bottom: 20px
  display: flex
  justify-content: center
  align-items: center

  div
    width: 4px
    height: 4px
    margin: 11px
    border-radius: 50%
    background: #8b8b8b

  .active
    width: 6px
    height: 6px
    margin: 10px
    background: white

.system-background-wrap
  height: 100vh
  width: 100%
  top: 0
  overflow: hidden
  position: absolute

.system-background
  height: 100%
  transition: .2s ease-out

.system-pc
  display: none

  &__active
    float: left
    height: 100vh
    display: flex
    justify-content: center
    align-items: center

.box-title
  position: relative
  height: 62px
  width: 128px
  margin: 18px auto

  &__img
    filter: drop-shadow( 2px 2px 1px rgba(0, 0, 0, 0.1) )
    width: 50px
    margin-right: -13px

  &__text
    font-family: 'comfortaa', roboto, monospace
    font-size: 32px
    color: white
    position: relative
    text-shadow: .5px .5px .5px rgba(0, 0, 0, 0.1)

  &__under-text
    color: white
    position: absolute
    right: 2px
    bottom: 0

.box-main
  margin-top: 4px

  span:first-child
    font-size: 16px
    color: white
    font-weight: 400
    letter-spacing: -.5px
    margin-right: 4px

  span:nth-child(2), span:nth-child(3)
    font-size: 13px
    padding: 2px
    background: #c5ccd4
    border-radius: 2px
    color: black
    letter-spacing: 0
    margin-left: 1px
    display: inline-block
    width: 50px
    text-align: center



/*   ---==== main app page ====---   */

.main-app-page
  height: 100vh
  width: 100%
  overflow: hidden
  position: absolute
  z-index: 10
  background: #2c3338
  box-shadow: 0 0 20px rgba(0, 0, 0, .5)
  transition: .2s ease-out

.main-app-page[data-state="clicked"],
.main-app-page[data-state="opened"]
  top: 0
  transform: scale(1)

.main-app-page[data-state="closed"]
  transform: scale(.8)
  top: 100vh

.app-settings
  display: none

.app-body
  height: 100vh
  width: 100%
  overflow: hidden
  position: absolute
  bottom: 100vh
  transition: .1s ease-out

.app-body[data-state="opened"]
  bottom: 0
