<!--  Documentation:
[[
  background='anyBackgroundColor'
  size='md'  // sm - 30px, md - 50px, lg - 70px,
  text='anyText'
]]  -->

<div class = "appex-preset-button preset-button preset-button_{{ size }}"
     id = "{{ id }}"
     style = "background-color: {{ background }}">

    {{ text }}

</div>