
.super-button
  position: fixed
  bottom: 20px
  right: 20px
  width: 40px
  height: 40px
  border-radius: 50%
  border: 2px solid transparent
  background: black
  opacity: 0.2
  display: flex
  justify-content: center
  align-items: center

  &__knob
    width: 20px
    height: 20px
    color: white