
.app-icon
  width: 110px
  display: inline-block
  padding: 9px
  vertical-align: top

  div
    width: 60px
    height: 60px
    margin: 16px 16px 8px 16px
    color: #262c31
    display: flex
    justify-content: center
    align-items: center
    font-size: 20px
    border-radius: 20%
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1)
    transition: .06s

    &:active
      transform: scale(0.95)

  footer
    word-wrap: break-word
    color: white
    font-size: 12px
    text-align: center