.editors-wrap
  padding: 20px
  display: grid
  grid-template-columns: 1.2fr 1.8fr 1fr
  grid-gap: 20px

  @media all and (max-width: 1100px)
    grid-template-columns: 1fr 1fr

  @media all and (max-width: 700px)
    grid-template-columns: 1fr

  @media all and (max-width: 500px)
    padding: 0


.app-demo
  width: 200px
  height: 360px
  margin: auto